:root {
	--primaryColor: #5a33ff;
	--textColor: #7d73b1;
	--borderRadius: 5px;
	--navBarHeight: 3em;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Andika New Basic', sans-serif;
}

.auth-container {
	display: flex;
	margin: 10%;
}
.left-div {
	width: 20%;
	margin: 2%;
}
.left-div > h1 {
	color: var(--primaryColor);
}

.left-div > form {
	display: flex;
	flex-direction: column;
}
.left-div > form > label {
	color: var(--textColor);
}

.left-div > form > input {
	border: 1px solid grey;
	padding: 10px;
	font-size: 14px;
	border-radius: var(--borderRadius);
	background-color: #f6f7fa;
	margin: 10px 0;
}

.buttons-container {
	display: flex;
	justify-content: center;
}
.buttons-container > button {
	padding: 10px 20px;
	border-radius: var(--borderRadius);
	color: white;
	cursor: pointer;
	font-weight: 600;
	outline: none;
}
.buttons-container > button:first-child {
	background-color: var(--primaryColor);
	border: none;
	flex: 1;
	margin: 5px 0;
}
.buttons-container > button:first-child:hover {
	box-shadow: 1px 1px 1px grey;
}
.buttons-container > button:last-child {
	background-color: white;
	color: var(--primaryColor);
	border: none;
	margin: 5px;
}

.right-div {
	height: 100px;
	flex: 1;
	display: flex;
	justify-content: flex-start;
}

.navbar-container {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #5833ff;

	justify-content: flex-end;
	height: var(--navBarHeight);
	z-index: 1;
}
.navbar-container > .list {
	width: 20%;
	display: flex;
	justify-content: space-between;
	margin-right: 7%;
}

.list > button,
.signup,
.login {
	background-color: transparent;
	border: none;
	color: white;
	font-size: small;
	outline: none;
	cursor: pointer;
	height: 100%;
}

.landing {
	padding-top: 10em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;
	background-image: url(/src/svg/background.svg);
	background-size: cover;
	height: 100vh;
}

.landing > .left-div {
	width: 35%;
}

.landing .button-container {
	display: flex;
	justify-content: space-around;
}

.landing .button-container > button {
	border-radius: 20px;
	font-size: small;
	padding: 10px;
	border: none;
	background-color: var(--primaryColor);
	width: 9em;
	outline: none;
	color: white;
	margin: 50px;
	cursor: pointer;
}
